@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;

}

.inpt {

    border-radius: 10px; /* arredondar as bordas */
padding: 10px; /*Espacamento interno */
border:none; /*Remove a borda*/
background-color: #F7F9FB; /* Defin*/
width: 377px;
margin-bottom: 16px;

}

.btn {

    padding: 10px;
    background-color: black;
    color: white;
    border: none; /*altura*/
    width: 377px; /*algura*/
    border-radius: 10px; /*Arrendondar as bordas*/

}